@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: #e5e7eb;
  --animation-color: #90e0ef;
  --fs-size: 1.2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.bg-image {
  background-image: url("../src/assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* loader */
.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
}

.loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
}

@keyframes scale {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
}

.app__work-hover {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;
}

.app__work-hover div {
  color: #fff;

  margin: 1rem;
  font-family: var(--font-base);
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
}

.app__work-hover svg {
  width: 50%;
  height: 50%;
  color: var(--white-color);
}

.app__work-img {
  position: relative;
}

.app__work-img img {
  width: 100%;
  height: 100%;
}

.item-active {
  background-color: #4c86f9;
  color: #fff;
}

.bg-image {
  background-position: 50%;
  background-image: url("https://mdbootstrap.com/img/new/textures/full/154.jpg");
  height: 500px;
  transform: translateX(0);
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
}

.btn-body {
  --transition: all 0.55s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --yellow-bg: transparent linear-gradient(114deg, #fdc100 0%, #dd7d00 100%) 0%
    0% no-repeat padding-box;
  color: white;
  margin: 0;
}

.btn {
  border-radius: 23px;
  letter-spacing: 0.8px;
  font-size: 14px;
  font-weight: 300;
  color: white;
  white-space: nowrap;
  margin: 20px auto;
  width: 166px;
  height: 45px;
  cursor: pointer;
  position: relative;
  border: 1px solid #2100dd;
  background: transparent;
}

.btn::before {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  content: "";
  width: 50%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  right: 0;
}

.btn:hover::before {
  width: 100%;
}

.btn.btn-hover {
  border-radius: 50px;
  position: relative;
}

.btn.btn-hover .btn-text {
  color: white;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  mix-blend-mode: lighten;
}

.btn.btn-hover::before {
  border-radius: 50px;
  width: 100%;
  background: conic-gradient(
        transparent 240deg,
        #132579 240deg,
        #0077b6 300deg,
        transparent 300deg
      )
      100% / 64% no-repeat,
    transparent linear-gradient(114deg, #4c86f9 0%, #03045e 100%) 0% 0%
      no-repeat padding-box;
}

.btn.btn-hover:hover .btn-text {
  margin-right: 30px;
  color: black;
  font-weight: 700;
  padding: 2px;
}

.btn.btn-hover:hover::before {
  background-position: right;
  border-radius: 23px;
  width: 25%;
}

button.ant-btn.css-dev-only-do-not-override-sk7ap8.ant-btn-default.bg-primary.focus\:text-white.hover\:text-white.active\:text-white.flex.items-center.text-white.py-5.px-5:active {
  color: white !important;
}
button.ant-btn.css-dev-only-do-not-override-sk7ap8.ant-btn-default.bg-primary.focus\:text-white.hover\:text-white.active\:text-white.flex.items-center.text-white.py-5.px-5:hover {
  color: white !important;
}
input#education_0_startDate {
  border: none !important;
}
input#education_0_endDate {
  border: none !important;
}

input#employmentHistory_0_startDate {
  border: none !important;
}
input#employmentHistory_0_endDate {
  border: none !important;
}
input#internShips_0_endDate {
  border: none !important;
}
input#internShips_0_startDate {
  border: none !important;
}
